<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel='stylesheet' href='{{ url_for('static', filename='link.css') }}'>
    <link rel='stylesheet' href='{{ url_for('static', filename='create_phrase.css') }}'>
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    {% include "navbar.html" %}
    {% block content %}
    {% endblock %}
</body>
</html>