/* Media Queries: Tablet Landscape */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; 
    }
}


img { max-width: 100%; height: auto; }

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

@media screen and (max-width: 433px){
    #primary { width:40%; }
    #secondary { width:15%; margin-left:2%;}  
}
    
